# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.PipelinesExample.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dan\Dev\vertical-pipelines\examples\.idea\.idea.PipelinesExample.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
